#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  header,
  footer {
    flex-shrink: 0;
  }
  main {
    flex-shrink: 1;
    flex-grow: 1;
  }
}

// Utils classes:
.inset-0 {
  inset: 0 !important;
}
