@use "sass:map";

$dataColors: (
  // Important colors:
  "person": #c845e6,
  "factoid": #793ee6,
  "place": #7663ff,
  "source": #bf6efa,

  // Neutral colors:
  "dataSource": #6c757d,
  "date": #6c757d
);

:export {
  DataSource: map.get($dataColors, "dataSource");
  Source: map.get($dataColors, "source");
  Person: map.get($dataColors, "person");
  PhysicalPerson: map.get($dataColors, "person");
  MoralEntity: map.get($dataColors, "person");
  Factoid: map.get($dataColors, "factoid");
  Place: map.get($dataColors, "place");
  Date: map.get($dataColors, "date");
}
