form:not(.unstyled) {
  .form-control:not(.readonly) {
    background-color: $white;

    &:focus {
      border-color: $primary;
    }
  }

  &:not(.no-validation) {
    &:required {
      border-color: $danger;
      &:focus {
        box-shadow: 0 0 0 $spacer/4 rgba($danger, 0.25);
      }
    }
    &:required:valid {
      border-color: $success;
      &:focus {
        box-shadow: 0 0 0 $spacer/4 rgba($success, 0.25);
      }
    }
    &:optional:invalid {
      border-color: $danger;
      &:focus {
        box-shadow: 0 0 0 $spacer/4 rgba($danger, 0.25);
      }
    }
    &:optional:valid:not(:placeholder-shown) {
      border-color: $info;
      &:focus {
        box-shadow: 0 0 0 $spacer/4 rgba($info, 0.25);
      }
    }
  }
}

// Switch customization:
$form-switch-checked-color: $form-switch-color;
$form-switch-checked-bg-image: $form-switch-bg-image;
.form-switch .form-check-input:checked {
  background-color: $input-bg;
  border-color: $input-border-color;
}

input.validation:required:invalid,
textarea.validation:required:invalid {
  border-color: $danger !important;
  &:focus {
    box-shadow: 0 0 0 $spacer/4 rgba($danger, 0.25) !important;
  }
}
