#graph-root {
  .stage {
    height: 75vh;
    border: 1px $border-style $border-color;
    margin: 0 1rem;
  }

  .graph-filters .circle {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 1em;
  }
}
