$scale-font-size: 0.6em;
$scale-border: 1px solid $secondary;

.histogram {
  display: flex;
  flex-direction: column;

  .histogram-data {
    display: flex;
    flex-grow: 10;

    .histogram-column {
      display: flex;
      flex-grow: 1;
      align-items: flex-end;

      .histogram-column-data {
        flex-grow: 1;
        background-color: $light;

        &.selected {
          background-color: pink !important;
        }
        &.selectable {
          cursor: col-resize;
        }
        &.clickable {
          cursor: pointer;
        }
      }

      &:hover {
        opacity: 0.5;

        background-color: $light;
      }
    }
  }
  .histogram-scale-x {
    display: flex;
    flex-grow: 0;
    font-size: $scale-font-size;
    justify-content: space-between;
    border-top: $scale-border;
    border-right: $scale-border;
    padding: 0 5px;
  }

  .histogram-scale-y {
    display: flex;
    flex-direction: column-reverse;
    width: 0;
    flex-grow: 0;
    font-size: $scale-font-size;
    justify-content: space-between;
    border-left: $scale-border;
    span {
      padding: 0 5px;
    }
  }
}
