.card {
  overflow: hidden;
  height: $card-height;
  justify-content: flex-end;
  box-shadow: 0 0.125rem 0.25rem rgba($black, 0.075);
  background-color: inherit;
  z-index: 0;

  &.inquiry {
    height: 300px;
  }

  &:hover {
    box-shadow: 0 1rem 1rem rgba($black, 0.175);
    transition: box-shadow 0.2s ease-in-out;
  }

  .card-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-body {
    max-height: 50%;
    overflow: hidden;
    text-overflow: ellipsis;

    a.stretched-link {
      color: unset;
      text-decoration: unset;
    }
    .card-title {
      overflow: hidden;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-transform: capitalize;
    }
    .card-text {
      overflow: hidden;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }
  .card-footer {
    z-index: 1;
    min-height: 52px;
  }

  &.inline {
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: flex-start;
    box-shadow: none;
    border: none;

    .card-image {
      flex-grow: 0;
      width: 20%;
    }
    .card-body {
      flex-grow: 0;
      max-height: none;
      width: 80%;
    }
    .card-footer {
      display: none;
    }
  }
}
