#root {
  header {
    z-index: 1000;
    background-color: $white;

    .btn-user {
      display: inherit;
      border: inherit;
      padding: inherit;
      margin: inherit;
      text-align: inherit;
      border-radius: inherit;
      background: #dee2e6;
      border-radius: 50rem;
      height: 2em;
      width: 2em;
      border: 0.125rem solid #fff;
      padding: 0.125rem;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      img,
      svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &:hover {
        cursor: pointer;
        opacity: 0.75;
      }
    }
  }
}
