@use "sass:map";

.timeline-years-caption {
  @extend .list-unstyled;

  //   display: flex;
  //   flex-direction: row;
  //   align-items: flex-start;
  //   position: relative;
  //   flex-wrap: nowrap;

  display: inline-flex;
  li {
    font-size: 0.8rem;

    // top: 0;
    // position: absolute;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.2rem 0.2rem;
    &.single-year {
      justify-content: center !important;
    }
  }
  li.single-year:last-child {
    border-right: 1px solid black;
  }
}

.factoids-timeline {
  display: flex;
  flex-direction: column;
  width: 100%;

  .factoid-row {
    position: relative;
    height: fit-content;
    width: 100%;

    margin-bottom: 0.8rem;
    .factoid-date {
      position: absolute;
      cursor: pointer;
      background-color: rgba(map.get($dataColors, "factoid"), 0.5);
      height: 100%;
    }
    .factoid-title {
      padding: 0.2rem;
      width: fit-content;
      cursor: pointer;
      // to make sure the title is above the date
      position: relative;
    }
    :last-child {
      margin-bottom: 0;
    }
  }
}
