$tooltip-margin: 5px;
$triangle-size: 10px;
$tooltip-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.201);

@mixin triangleCommon {
  position: absolute;
  content: " ";
  font-size: 0;
  line-height: 0;
  width: 0;
}

@mixin tooltipBottom($left) {
  bottom: -$tooltip-margin;
  left: $left; //calc(50% - #{$triangle-size + $tooltip-margin});
  border-left: $triangle-size solid transparent;
  border-right: $triangle-size solid transparent;
  border-top: $triangle-size solid $tooltip-bg;
}

@mixin tooltipTop($left) {
  top: -$tooltip-margin;
  left: $left; //calc(50% - #{$triangle-size + $tooltip-margin});
  border-left: $triangle-size solid transparent;
  border-right: $triangle-size solid transparent;
  border-bottom: $triangle-size solid $tooltip-bg;
}

.tether-element {
  overflow: hidden;

  &.bottom .tooltip:after {
    //@include triangleCommon;
    @include tooltipBottom(calc(50% - #{$triangle-size + $tooltip-margin}));
  }
  &.top.left .tooltip:after {
    //@include triangleCommon;
    @include tooltipTop(2 * $triangle-size - $tooltip-margin);
  }
  &.top.center .tooltip:after {
    //@include triangleCommon;
    @include tooltipTop(calc(50% - #{$triangle-size + $tooltip-margin}));
  }
  &.top.right .tooltip:after {
    //@include triangleCommon;
    @include tooltipTop(calc(100% - #{(3 * $triangle-size) + $tooltip-margin}));
  }
}

.tooltip-anchor {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.tooltip {
  margin: calc(#{$tooltip-margin} - #{$spacer});
  padding: 0;
  position: unset;
  z-index: $zindex-offcanvas;
  border: $spacer solid transparent;
  &.show {
    opacity: 1;
  }

  // Overrides
  .tooltip-inner {
    opacity: 1;
    box-shadow: $tooltip-box-shadow;
    max-width: unset;
    white-space: nowrap;
    text-align: left;

    &.bg-light {
      background-color: $body-bg !important;
      @extend .text-reset;
    }

    ul {
      list-style: none;
      padding: $spacer/4 0;
      margin: 0;
      li {
        a,
        .btn-a {
          @extend .rounded;
          text-align: left;
          color: $white;
          text-decoration: none;
          font-size: 1em;
          display: block;
          width: 100%;
          padding: $spacer/4 $spacer/2;

          &.disabled {
            color: $navbar-dark-disabled-color;
          }

          &:hover,
          &:focus {
            background-color: $secondary;
          }
        }
      }
    }
  }
}
